@page "/register"
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <style type="text/css">
        #register {
            background-image: url(https://vietnambackpackerhostels.azureedge.net/main/home-5.jpg);
            height: 100vh;
        }

        /* Height for devices larger than 576px */
        @@media (min-width: 992px) {
            #register {
                margin-top: -58.59px;
            }
        }
    </style>
}

@section Scripts {
    <script type="text/javascript">
        $("document").ready(function () {
            $('#Input_Nationality').find('option:first').prop('hidden', true);
        });
    </script>
}

<div id="register" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-md-8">
                    <form class="bg-white  rounded-5 shadow-5-strong p-5">
                        <h1 class="text-center mb-4 text-black">@ViewData["Title"].ToString()</h1>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Name input -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.FirstName" class="form-control" />
                                    <label asp-for="Input.FirstName" class="form-label"></label>
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.Surname" class="form-control" />
                                    <label asp-for="Input.Surname" class="form-label"></label>
                                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Date of birth input -->
                                <div class="form-outline datepicker-disable-future mb-4" data-mdb-toggle-button="false">
                                    <input asp-for="Input.DateOfBirth" type="text" class="form-control" data-mdb-toggle="datepicker" />
                                    <label asp-for="Input.DateOfBirth" class="form-label"></label>
                                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!-- Phone number input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Input.PhoneNumber" class="form-control" />
                                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Gender input -->
                                <div class="md-form m-0 position-relative">
                                    <select asp-for="Input.Gender" class="select" multiple>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Transgender">Transgender</option>
                                        <option value="Non-binary/non-conforming">Non-binary/non-conforming</option>
                                        <option value="Intersex">Intersex</option>
                                        <option value="Other">Other</option>
                                        <option value="Prefer not to say">Prefer not to say</option>
                                    </select>
                                    <label asp-for="Input.Gender" class="form-label select-label"></label>
                                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!-- Nationality input -->
                                <div class="position-relative mb-4">
                                    <select asp-for="Input.Nationality" asp-items="@Model.Input.Nationalities" class="select" data-mdb-filter="true" data-mdb-container="#register"></select>
                                    <label asp-for="Input.Nationality" class="form-label select-label"></label>
                                    <span asp-validation-for="Input.Nationality" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Email" class="form-control" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Password" class="form-control" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>